In [1]:
import pandas as pd
import re

**LOADING DATA FROM CSV**

In [2]:
pd.set_option('display.max_columns', None)
shark_attacks = pd.read_csv("../data/attacks.csv", encoding="latin1")
shark_attacks.columns = [i.lower().replace(' ', '_') for i in shark_attacks.columns]
shark_attacks

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**CLEANING**

First we we need to drop all the rows with null values.

In [3]:
attacks_subset = shark_attacks.dropna(how='all')
attacks_subset.isna().sum()

case_number                  1
date                      2401
year                      2403
type                      2405
country                   2451
area                      2856
location                  2941
activity                  2945
name                      2611
sex_                      2966
age                       5232
injury                    2429
fatal_(y/n)               2940
time                      5755
species_                  5239
investigator_or_source    2418
pdf                       2401
href_formula              2402
href                      2401
case_number.1             2401
case_number.2             2401
original_order            2394
unnamed:_22               8702
unnamed:_23               8701
dtype: int64

Now we need to have a look to those rows were the 'case_number' is not null but the rest of the values are null.

In [4]:
rows_with_nan = attacks_subset[attacks_subset.drop('case_number', axis=1).isna().all(axis=1)]
print(rows_with_nan.shape)
rows_with_nan.isna().sum()

(2394, 24)

case_number                  0
date                      2394
year                      2394
type                      2394
country                   2394
area                      2394
location                  2394
activity                  2394
name                      2394
sex_                      2394
age                       2394
injury                    2394
fatal_(y/n)               2394
time                      2394
species_                  2394
investigator_or_source    2394
pdf                       2394
href_formula              2394
href                      2394
case_number.1             2394
case_number.2             2394
original_order            2394
unnamed:_22               2394
unnamed:_23               2394
dtype: int64

As we can see, all the columns unless 'case_number' have the same null values as the lenght of the rows filtered, then we can remove this rows because they do not have any information.

In [5]:
# The '~' operator is used to negate the boolean condition, so it keeps the rows where the condition is False.
attacks_subset_ = attacks_subset[~attacks_subset.drop('case_number', axis=1).isna().all(axis=1)]
print(attacks_subset_.shape)
attacks_subset_[attacks_subset_['case_number'] == '0']

(6309, 24)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN

We still have some rows with almost all the data with null values so as I don't need the column 'original_order', I can remove this rows.

In [6]:
attacks_subset = attacks_subset[~attacks_subset.drop(['case_number', 'original_order'], axis=1).isna().all(axis=1)]
print(attacks_subset.shape)

(6302, 24)

Now I want to remove those columns that are not giving me any type of information.

In [7]:
attacks_subset = attacks_subset.drop(columns=['pdf', 'href_formula', 'href', 'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22', 'unnamed:_23'])
attacks_subset

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

In order to find the duplicated rows we do it by 'original_order'.

In [8]:
duplicated = attacks_subset[attacks_subset['case_number'].duplicated(keep=False)]
duplicated

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source
522,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"South of Cocoa Beach, Brevard County",Surfing,male,M,50s,Foot bitten,N,NaN,NaN,"Florida Today, 8/8/2014"
523,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"Table Beach, Brevard County",Boogie boarding,Christian Sanhueza,M,8,Laceration to ankle,N,13h00,NaN,"Florida Today, 8/2/2014"
615,2013.10.05,06-Oct-2013,2013.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Jay Scrivner,M,45,Laceration to thigh,N,08h45,"White shark, 8' to 10'","R. Collier, GSAF"
616,2013.10.05,10-Oct-2013,2013.0,Unprovoked,USA,Florida,"Destin, Okaloosa County",Wading,Zachary Tyke Standridge,M,12,Lacerations to right forearm,N,15h30,Small bull shark,"Monroe County Advocate, 10/9/2013"
746,2012.09.02.b,02-Sep-2012,2012.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,female,F,8,Puncture wounds to calf and hand,N,18h30,3.5' to 4' shark,"WYTV, 9/3/2012"
747,2012.09.02.b,02-Sep-2012,2012.0,Provoked,USA,Hawaii,"Spreckelsville, Maui",Spearfishing,M. Malabon,NaN,NaN,Minor laceration to hand PROVOKED INCIDENT,N,12h00,"Tiger shark, 10' to 12'",HawaiiNow.com
1063,2009.12.18,18-Dec-2009,2009.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Paddling on kneeboard,Tshintshekile Nduva,M,22,FATAL,Y,14h30,NaN,"B. Jordan & A. Ferreira, Times Live, 12/21/2009"
1064,2009.12.18,18-Dec-2009,2009.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,"North Beach, Durban",Surfing,Lance Morris,M,NaN,Minor lacerations to left leg. nitially report...,NaN,NaN,No shark involvement,"M. Addison, C. Eckstander, GSAF"
1436,2006.09.02,02-Sep-2006,2006.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Swimming,male,M,12 or 13,Arm bitten,N,17h55,NaN,"S. Petersohn, GSAF"
1437,2006.09.02,02-Sep-2006,2006.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Noordhoek,Surfing,Steven Harcourt-Wood,M,37,"No injury, shark rammed surfboard",N,NaN,"White shark, 3.5m","Cape Times, 9/3/2006"
1599,2005.04.06,06-Apr-2005,2005.0,Unprovoked,USA,Florida,"Jacksonville Beach, Duval County",NaN,Jessica Abe,F,NaN,Left calf injured,N,NaN,small hammerhead shark,WJXT News4Jax.com
1600,2005.04.06,06-Apr-2005,2005.0,Invalid,HONDURAS,Bay Islands,Utila,SCUBA Diving,female,F,NaN,"Laceration on siide of calf, small laceration ...",NaN,NaN,Shark involvement not confirmed,"J. Engel, SRI & S. Fox, Deep Blue"
2634,1990.05.10,10-May-1990,1990.0,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,Snorkeling,Sydney woman,F,30s,Lacerations,N,NaN,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1"
2635,1990.05.10,10-May-1990,1990.0,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,"Snorkeling, possibly holding a fish",German male,M,30s,Lacerations,N,NaN,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1"
2937,1983.06.15,15-Jun-1983,1983.0,Unprovoked,BAHAMAS,NaN,Carter Cay,NaN,Roger Yost,M,30,Lacerations to hand & foot,N,11h00,6' blacktip shark,"E. Pace, FSAF"
2938,1983.06.15,15-Jun-1983,1983.0,Invalid,ITALY,Northwest Italy,Riomaggiore (Ligura),Scuba diving,Roberto Piaviali,M,NaN,"No injury, 3 m shark ""harassed"" him at depth o...",NaN,NaN,Questionable incident,MEDSAF
3062,1980.07.00,Late Jul-1980,1980.0,Unprovoked,USA,North Carolina,"Emerald Isle Pier (near Morehead City), Carter...",Surfing,male,M,NaN,"No injury, bumped off board",N,NaN,NaN,"C. Creswell, GSAF, J. Barnes"
3063,1980.07.00,Early Jul-1980,1980.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Tom Durrance,M,NaN,Lower leg bitten,N,NaN,NaN,"Daytona Beach Morning Journal, 7/9/1980"
3543,1966.12.26,26-Dec-1966,1966.0,Unprovoked,SINGAPORE,NaN,Singapore,Wading,Hussain Ali,M,39,Thigh bitten,N,Afternoon,NaN,"H.D. Baldridge, SAF Case #1458"
3544,1966.12.26,26-Dec-1966,1966.0,Unprovoked,AUSTRALIA,New South Wales,Coogee,Spearfishing,David Jensen,M,29,Right leg bitten,N,NaN,1.8 m [6'] shark,"Sun (Sydney), 12/29/1966; H.D. Baldridge, p.137"
3814,1962.06.11.b,11-Jun-1962,1962.0,Unprovoked,USA,California,San Francisco Bay,Escaping from Alacatraz,Clarence Anglin,M,31,2 toes bitten off,N,night,NaN,"San Francisco Chronicle, 5/3/1986"
3815,1962.06.11.b,11-Jun-1962,1962.0,Unprovoked,USA,California,San Francisco Bay,Escaping from Alacatraz,John William Anglin,M,32,"FATAL, but shark involvement uncomfirmed. Deat...",Y,Night,NaN,"San Francisco Chronicle, 5/3/1986"
5213,1923.00.00.a,1923,1923.0,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,NaN,Shark's tail broke his leg. PROVOKED INCIDENT,N,NaN,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M..."
5214,1923.00.00.a,1923,1922.0,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,NaN,Shark's tail broke his leg. PROVOKED INCIDENT,N,NaN,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M..."
5260,1920.00.00.b,1920s,1920.0,Unprovoked,JAMAICA,Westmoreland Parish,Savanna-la-Mar,Jumped overboard,sailor,M,NaN,FATAL,Y,NaN,NaN,"Daily Gleaner, 4/14/1969"
5261,1920.00.00.b,1920,1920.0,Unprovoked,NEW ZEALAND,North Island,"Stanley Bay, Auckland Harbor",NaN,female,F,NaN,"""Recovered""",N,NaN,NaN,"V.M. Coppleson (1958), p.262"
5322,1915.07.06.a.R,Reported 06-Jul-1915,1915.0,Unprovoked,MEXICO,Tamaulipas,Tampico,Fishing,Captain Thaxton,M,NaN,FATAL,Y,NaN,NaN,"Oakland Tribune, 7/6/1915"
5323,1915.07.06.a.R,Reported 06-Jul-1915,1915.0,Unprovoked,MEXICO,NaN,Santa Maria Bar,Wading,J.W. McDonald,M,NaN,FATAL,Y,NaN,NaN,"Oakland Tribune, 7/6/1915"
5354,1913.08.27.R,Reported 27-Aug-1913,1913.0,Invalid,USA,New Jersey,"Lavalette, Ocean County",NaN,NaN,M,NaN,Man's leg recovered from 800-lb shark,NaN,NaN,Shark involvement prior to death unconfirmed,"Trenton Evening Times, 8/27/1913"
5355,1913.08.27.R,Reported 27-Aug-1913,1913.0,Invalid,USA,New Jersey,"Spring Lake, Monmouth County",NaN,NaN,F,NaN,Female foot recovered from shark,NaN,NaN,Shark involvement prior to death unconfirmed,"Washington Post, 8/27/1913"
5443,1907.10.16.R,Reported 16-Oct-1907,1907.0,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,NaN,"3 of thel 5 were injured, one of whom lost bot...",N,NaN,Shark involvement probable,"Dawson Daily News, 11/20/1907"
5444,1907.10.16.R,Reported 16-Oct-1907,1907.0,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,NaN,2 of the 5 fishermen were so seriously injure...,Y,NaN,Shark involvement probable,"Dawson Daily News, 11/20/1907"

We check that there are no rows duplicated with the same information.

So now we can start cleaning the columns in order to standarize the data.

    1. Let's start with 'type' column of shark attack

In [9]:
attacks_subset['type'].value_counts()

type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

In [10]:
pattern = r'\w*[Bb]oat\w*'
attacks_subset['type'] = attacks_subset['type'].str.replace(pattern, 'Boat', regex=True)
attacks_subset['type'].value_counts()

type
Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
Questionable       2
Name: count, dtype: int64

    2. For 'time' column I want to classify hours by ranges of time.

In [11]:
attacks_subset['time'].unique()

array(['18h00', '14h00  -15h00', '07h45', nan, 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40',
       '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00, Dusk', 'Night', '16h00',
       '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30',
       '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19',
       'Midday', '13h30', '10h45', '11h20', '11h45', '19h30', '08h30',
       '15h45', 'Shortly before 12h00', '17h34', '17h10', '11h15',
       '08h50', '17h45', '13h00', '10h20', '13h20', '02h00', '09h50',
       '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', 'ï¿½ ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [12]:
hour_pattern = r'\d{1,2}(?::|h|j)\d{2}'
second_patter = r'\d{1,2}\w\d{2}|>\d{1,2}:\d{2}|(0?\d|1[0-2]):\d{2}j|Before (0?\d|1[0-2]):\d{2}|Between (0?\d|1[0-2]):\d{2} and (0?\d|1[0-2]):\d{2}|\d{1,2}:\d{2}|\d{1,2}:\d{2}'

def formatt_hour(string):
    if 'h' in string:
        string = string.split('h')
        if len(string[0]) == 1:
            string[0] += '0'
        return ":".join(string)
    elif 'j' in string:
        return string.replace('j', ':')
    elif string.isdigit():
        string = string[:len(string)//2] + ':' + string[len(string)//2:]
    else:
        return string

In [13]:
def class_by_string(string):
    if 'morning' in str(string).lower():
        return 'Morning'
    elif 'afternoon' in str(string).lower() or 'midday' in str(string).lower() or 'noon' in str(string).lower():
        return "Afternoon"
    elif 'evening' in str(string).lower():
        return "Evening"
    elif 'night' in str(string).lower() or 'dusk' in str(string).lower():
        return "Night"
    elif re.search(second_patter, str(string)):
        str_ = re.search(second_patter, str(string))
        return formatt_hour(str_.group())
    else:
        return "Unknown"

attacks_subset['clean_time'] = attacks_subset['time'].apply(class_by_string)
attacks_subset

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,clean_time
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",18:00
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",14:00
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",07:45
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",Unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",Unknown
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",Unknown
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",Unknown
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",Unknown
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,Unknown

In [14]:
#regex_condition = attacks_subset['day_time'].str.contains(hour_pattern)
# Aplica la función 'formatt_hour' solo a los valores que cumplen el patrón regex
#non_null_condition = (regex_condition) & (~attacks_subset['day_time'].isnull())
#attacks_subset.loc[non_null_condition, 'day_time'] = attacks_subset.loc[non_null_condition, 'day_time'].apply(formatt_hour)
#attacks_subset['day_time'].unique()

In [15]:
def class_by_time(string):
    """
    This function receives a string in the format '12:00' and determines whether this time is 'Morning', 'Afternoon', 'Evening' or 'Night'.
    """
    morning_pattern = r'0[6-9]:[0-5][0-9]|1[0-1]:[0-5][0-9]'
    afternoon_pattern = r'1[2-7]:[0-5][0-9]'
    evening_pattern = r'1[8-9]:[0-5][0-9]|20:[0-5][0-9]|21:[0-5][0-9]'
    night_pattern = r'22:[0-5][0-9]|23:[0-5][0-9]|0[0-5]:[0-5][0-9]'

    if re.search(morning_pattern, str(string)):
        return 'Morning'
    elif re.search(afternoon_pattern, str(string)):
        return "Afternoon"
    elif re.search(evening_pattern, str(string)):
        return "Evening"
    elif re.search(night_pattern, str(string)):
        return "Night"
    else:
        return 'Unknown'
    
pattern = r'\d{1,2}:\d{1,2}'
attacks_subset['clean_time'] = attacks_subset['clean_time'].apply(lambda x: class_by_time(x) if pd.notna(x) and pd.Series(x).str.contains(pattern).any() else x)

attacks_subset['clean_time'].value_counts()

clean_time
Unknown      3414
Afternoon    1566
Morning       914
Evening       254
Night         146
Name: count, dtype: int64

- The cleaning of time column is useless because more than half of the data is 'Unknown'.

    3. Now let's clean 'age' column.

In [16]:
attacks_subset['age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', 'ï¿½ ', ' ', '30 or 36', '6ï¿½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2ï¿½', '13 or 14'], dtype=object)

In [17]:
def extract_age(x):
    if pd.isna(x):
        return 'Unknown'
    if x in ['teen', 'Teen', 'Teens']:
        return '15'
    if x in ['adult', '(adult)', 'middle-aged']:
        return '50'
    if 'months' in x:
        print(x)
        x = x.split(' ')[0]
        if int(x) < 12:
            return '< 1'
        else:
            return '2'
    age_av = re.findall(r'(\d{1,2})\s*(&|or|to)\s*(\d{1,2})', str(x))
    if age_av:
        average_ages = [(int(match[0]) + int(match[2])) // 2 for match in age_av]
        return str(average_ages[0])
    age_match = re.search(r'\d{1,2}', str(x))
    if age_match:
        return age_match.group()
    return 'Unknown'

In [18]:
attacks_subset['clean_age'] = attacks_subset['age'].apply(extract_age)
attacks_subset['clean_age'].unique()

18 months
9 months
2 to 3 months

array(['57', '11', '48', 'Unknown', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '13', '42', '3', '8',
       '50', '16', '82', '73', '68', '51', '39', '58', '47', '61', '65',
       '36', '66', '43', '9', '72', '59', '6', '27', '64', '23', '71',
       '44', '62', '63', '70', '2', '53', '77', '74', '5', '86', '84',
       '75', '87', '67', '< 1', '1', '81', '78'], dtype=object)

In [19]:
attacks_subset

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,clean_time,clean_age
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",Evening,57
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",Afternoon,11
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",Morning,48
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",Unknown,Unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",Unknown,Unknown
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",Unknown,Unknown
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",Unknown,Unknown
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",Unknown,Unknown
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,Unknown,15

    4. Column 'year'

In [20]:
attacks_subset['year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [21]:
pattern_year = r'\d{4}'
str_pattern = r'\d{4}\.'
def clean_year(year):
    if re.match(str_pattern, str(year)):
        return re.match(pattern_year, str(year)).group()
    else:
        return 'Unknown'

attacks_subset['clean_year'] = attacks_subset['year'].apply(clean_year)
attacks_subset['clean_year'].unique()
attacks_subset.sample(10)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,clean_time,clean_age,clean_year
2549,1992.06.19,19-Jun-1992,1992.0,Unprovoked,VANUATU,Malampa Province,"Port Sandwich, Malakula",Swimming,Andrea Rush,F,21,Right leg was bitten above and below the knee ...,N,NaN,NaN,"A. Rush; R. D. Weeks, GSAF; Otago Daily Times,...",Unknown,21,1992
2502,1993.03.17,17-Mar-1993,1993.0,Unprovoked,JAPAN,Ehime Prefecture,Iyo,NaN,Yuji Yamamoto,NaN,NaN,Survived,N,NaN,Possiby white shark,K. Nakaya,Unknown,Unknown,1993
2296,1996.07.10,10-Jul-1996,1996.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",NaN,Andrew Lewis,M,18,Right foot bitten,N,13h45,NaN,"S. Petersohn, GSAF",Afternoon,18,1996
1672,2004.05.22.a,22-May-2004,2004.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Wading,Naiane Barbosa Bringel,F,24,Hips & thighs bitten,N,16h00,NaN,"P.M. Lopes, GSAF, JC, 5/23/2004",Afternoon,24,2004
1949,2001.05.04,04-May-2001,2001.0,Unprovoked,AUSTRALIA,New South Wales,Noraville,Surfing,Michael Valentine,M,33 or 37,"Chest lacerated, surfboard bitten",N,17h45,NaN,"Newcastle Herald; Sunday Mail (QLD), 5/6/2001,...",Afternoon,35,2001
590,2013.12.25,25-Dec-2013,2013.0,Unprovoked,NEW CALEDONIA,North Province,"Lindï¿½ralique, Hienghï¿½ne",Snorkeling,Loï¿½c Merlet,M,37,Leg bitten,N,11h00,Reported to involve a bull shark,"Les Novelles Caledonie, 12/26/2014",Morning,37,2013
533,2014.07.12,12-Jul-2014,2014.0,Unprovoked,USA,North Carolina,"Masonboro Island, New Hanover County",Body surfing,Carson Jewell,M,NaN,Lacerations to hand and wrist,N,NaN,NaN,"C. Creswell, GSAF",Unknown,Unknown,2014
1480,2006.05.21,21-May-2006,2006.0,Unprovoked,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Surfing,Rogï¿½rio Antï¿½nio de Carvalho,M,33,"Injuries to left thigh, calf & foot",N,11h30,NaN,"Avisa Nordland, 5/22/2006",Morning,33,2006
1725,2003.10.31.c,31-Oct-2003,2003.0,Unprovoked,USA,Florida,"Ponte Vedra Beach, St. Johns County",Surfing,Adam Gray,M,18,Left foot (sole) bitten,N,15h00,1.2 m to 1.5 m [4' to 5'] shark,"D. Dixon, Florida Times-Union, 11/8/2003",Afternoon,18,2003
5242,1921.09.00,Sep-1921,1921.0,Provoked,ENGLAND,Dorset,Weymouth,Fishing,Roberts,M,NaN,Leg bitten by shark he was attempting to captu...,N,NaN,"Blue shark, 4'","Argus, 10/8/1921",Unknown,Unknown,1921

In [29]:
attacks_subset['clean_year'].unique()

array(['2018', '2017', 'Unknown', '2016', '2015', '2014', '2013', '2012',
       '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004',
       '2003', '2002', '2001', '2000', '1999', '1998', '1997', '1996',
       '1995', '1984', '1994', '1993', '1992', '1991', '1990', '1989',
       '1969', '1988', '1987', '1986', '1985', '1983', '1982', '1981',
       '1980', '1979', '1978', '1977', '1976', '1975', '1974', '1973',
       '1972', '1971', '1970', '1968', '1967', '1966', '1965', '1964',
       '1963', '1962', '1961', '1960', '1959', '1958', '1957', '1956',
       '1955', '1954', '1953', '1952', '1951', '1950', '1949', '1948',
       '1848', '1947', '1946', '1945', '1944', '1943', '1942', '1941',
       '1940', '1939', '1938', '1937', '1936', '1935', '1934', '1933',
       '1932', '1931', '1930', '1929', '1928', '1927', '1926', '1925',
       '1924', '1923', '1922', '1921', '1920', '1919', '1918', '1917',
       '1916', '1915', '1914', '1913', '1912', '1911', '1910', '1909',
       '1908', '1907', '1906', '1905', '1904', '1903', '1902', '1901',
       '1900', '1899', '1898', '1897', '1896', '1895', '1894', '1893',
       '1892', '1891', '1890', '1889', '1888', '1887', '1886', '1885',
       '1884', '1883', '1882', '1881', '1880', '1879', '1878', '1877',
       '1876', '1875', '1874', '1873', '1872', '1871', '1870', '1869',
       '1868', '1867', '1866', '1865', '1864', '1863', '1862', '1861',
       '1860', '1859', '1858', '1857', '1856', '1855', '1853', '1852',
       '1851', '1850', '1849', '1847', '1846', '1845', '1844', '1842',
       '1841', '1840', '1839', '1837', '1836', '1835', '1834', '1832',
       '1831', '1830', '1829', '1828', '1827', '1826', '1825', '1823',
       '1822', '1819', '1818', '1817', '1816', '1815', '1812', '1811',
       '1810', '1808', '1807', '1805', '1804', '1803', '1802', '1801',
       '1800', '1797', '1792', '1791', '1788', '1787', '1786', '1785',
       '1784', '1783', '1780', '1779', '1776', '1771', '1767', '1764',
       '1758', '1753', '1751', '1749', '1755', '1748', '1742', '1738',
       '1733', '1723', '1721', '1703', '1700', '1642', '1638', '1637',
       '1617', '1595', '1580', '1555', '1554', '1543'], dtype=object)

    5. Column 'sex'

In [22]:
attacks_subset['sex_'].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [23]:
def sex_clean(x):
    """
    This function standarizes all the values found in the dataframe sex column.
    Params:
        x (str): Value of the sex
    Returns:
        string (str): Standarized sex
    """
    if x != 'M' and x != 'F' and x != 'M ':
        return 'Unknown'
    elif x == 'M ':
        return 'M'
    else:
        return x

In [24]:
attacks_subset['clean_sex'] = attacks_subset['sex_'].apply(sex_clean)
attacks_subset['clean_sex'].unique()

array(['F', 'M', 'Unknown'], dtype=object)

    6. Column 'activity'

In [25]:
set(attacks_subset['activity'])

{'Swimming, after boat swamped',
 'Grabbed shark & threw it on deck',
 'Free diving but treading water at surface',
 'Bathing or body surfing ',
 'Leaving the water',
 'Wading or swimming',
 'Crossing river on a raft',
 'Dropping anchor',
 'Killing a shark',
 'Fishing with dynamite',
 'Leicester abandoned in a hurricane',
 'Standing, washing rear wheels of his ambulance in ankle-deep water',
 "Attempting to lasso shark's tail",
 'Fishing, tossing netted shark onboard',
 'A junk foundered',
 'Parachuted from balloon',
 'Sinking of the M/V Mindoro during a typhoon',
 'Walking in chest-deep water',
 'Standing',
 'Playing in surf with his child  (9)',
 'Floating',
 'Fishing from boat, Kaimamla',
 'Grabbing shark for a selfie',
 'Plane crashed in water, men in life raft',
 '2 boats capsized',
 'Pearl diving, but standing in the water',
 'Swimming at edge of channel',
 'Taking boat from California to Florida when it ran aground & he was swimming back to boat',
 'A dhow capsized',
 'Skindiving for abalone (but at surface)',
 'Surf bathing',
 'Sitting in a boat',
 'Swimming with boogie board',
 'Crabbing (spearing crabs)',
 'Japanese freighter Bokuyo Maru burned & sank',
 'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore  ',
 'Playing in knee-deep water',
 'Swimming off yacht',
 'Body found on deserted luxury yacht, 38ï¿½ Christine',
 'Sailing from Gingood, Misamis Oriental to Sagay (normally a 2-day voyage) capsized with 6 on board, three men were taken by sharks when they attempted to swim to shore.',
 'Working prawn net',
 'Diving, photographing sharks',
 'Setting crayfish pots',
 'Bathing close inshore',
 'Boat capsized, clinging to line',
 'Free diving, collecting sand dollars',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Fishing / standing in waist deep water',
 'Swimming / floating on his back',
 'Swimming in section of river used for washing clothes & cooking utensils',
 'Crossing the bay at the ford',
 'Swimming to shore from the Medic',
 'Collecting fish from net',
 'Diving for trochus',
 'Removing shark from a trap',
 'Adrift on raft after their ship was sunk by an Axis raider ',
 'Rowing an inflatable dinghy',
 'Standing on sandbank',
 'Swimming from capsized pirogue',
 'Washed overboard by swell',
 'Fell overboard from the Malacca',
 'Surfing (or body boarding)',
 'Swimming, towing surfboard',
 'Diving / Filming',
 'The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo',
 'Removing shark from net ',
 'Scuba diving in aquarium tank',
 'Diving for beche-de-mer',
 'Surf fishing / wading',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Free diving / photography, kneeling on sand',
 'Bathing in 2 feet of water',
 'Skin diving for trepang but at surface next to the boat',
 'Holding onto an inflatable boat',
 'Attempting to net shark in shark channel',
 'Swimming with goggles',
 'Kitesurfing',
 'Treading water',
 'Fishing, had just speared a ulua',
 'Fishing from launch, fell into net with shark',
 'American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
 'On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people',
 'Swimming underwater from crayfish cage to a fishing bait',
 'Swimming ashore from a "filibuster"',
 'Resting on body board',
 'Photo shoot',
 'Diving / fishing',
 'Splashing',
 'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover',
 'Bathing in knee-deep water',
 'Helmet diving in Miami Seaquarium',
 'No details',
 'Attempting to drive shark away from sailing regatta',
 'Wreck of a sampam',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Diving?',
 'Spearfishing, but swimming at surface',
 'Oystering',
 'Fishing (illegally)',
 'After rowing skiff was holed by shark, he was attempting to swim ashore',
 'Cleaning fish',
 'Feeding a shark',
 'Crawling',
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas',
 'Bathing in water 0.9 m deep',
 'Net-fishing',
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
 'Kayak Fishing',
 'Standing ',
 'Hardhat diving ',
 'Fishing for tuna',
 'Lying prone on surfboard',
 'Stand-Up Paddleboarding',
 'Touching the mouth of a supposedly dead shark',
 'Commercial spearfishing',
 'Jumped overboard while intoxicated',
 'Pulling hooked salmon to boat',
 'Free diving, collecting shells',
 'Shark tagging',
 'The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
 'Motor launch Baby Princesa capsized with 22 people on board',
 'Air disaster: crash of Air France Super Constellation ',
 'Snorkeling',
 "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
 'Cleaning the side of a ship',
 'Photographing fish',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Paddling on kneeboard',
 'Bathing / standing',
 'Swimming /  Whale Watching',
 'Fishing (big game)',
 'SUP',
 'Fell onto dead shark',
 'Wading / fishing & carrying a bag of fish',
 'Fishing, standing in waist-deep water',
 'Bathing alongside ship',
 'Surfing (lying prone on his board)',
 'Fishing & spearfishing',
 'U.S. Airforce crewman reported missing after bailing out of jet',
 'Swimming in pool formed by construction of a wharf',
 'boat from City of Naples capsized',
 'Standing / Bathing',
 'Lobster diving using Scuba',
 'Returning to shore, collided with shark',
 'Aircraft exploded',
 'The steamer Tahiti collided with the ferry Greycliffe',
 'Loss of the schooner Nomad',
 'Beach seine netting',
 'Fishing / Wading',
 'Cutter capsized',
 'Netting sharks',
 'The cutter Francis Adams foundered',
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'Swimming ashore from swamped 13-ft boat',
 'Swimming, after sailboat capsized',
 'Swimming near his boat',
 'Fishing for rock lobster',
 'Dived overboard to retrieve dinghy',
 'Removing hook from shark',
 'Jumped overboard from torpedoed Panamanian freighter',
 'Swimming after falling overboard',
 'Shark hoisted on board liner Tahiti',
 'Paddle-surfing',
 'Fishing for tunny',
 'Fishing in waist-deep water',
 'Catching sharks under government contract',
 'Spearfishing, carrying fish on belt',
 'Free diving for abalone from Zodiac (submerged)',
 'Collecting shells',
 'Taking wife to beach & about 1 m from the shore',
 'Swimming with speared fish',
 'Fishing for trout ',
 'Diving for beche-de-mer ',
 'Feeding stingrays?',
 'USS Hoel DD 533 sunk on 10/24/1944 in the Battle off Samar. 2 crewmen were swimmng alongside a floater net &',
 "Diving, repairing water main at depth of 90'",
 'H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Japanese dive bombers. Officers & men in the water formed a circle with 60 of their dead in the center for 36 hours',
 'Surfing, paddling seawards',
 'Attempting to drive shark from area',
 'Surfing, but swimming to his board',
 'Aircraft ditched in the sea, swimming ashore',
 'Diving for sponges',
 'Surfing, fell off surfboard',
 'Cleaning a tank',
 'Swimming near breakwater',
 'Walking in shallows',
 'Wreck of the Tweed',
 'Surfing with dolphins',
 'Fishing boat',
 'Sea Disaster, sinking of the fishing  launch Mavis',
 'Shipwreck',
 'Boat capsized',
 'Playing in the surf',
 'Bathing or washing',
 'Diving, feeding sharks',
 'Attempting to catch a crocodile',
 'Carrying a supposedly dead shark by its mouth',
 'Water-skiing',
 'Free diving for shell',
 'Collecting crayfish',
 "Fishing from 34' boat when pulled overboard by hooked shark",
 'Fishing for turtles',
 'Spearing a shark',
 'Fishing from prawn trawler',
 'Fishing schooner Jose Luis foundered',
 'Attempting to set underwater endurance record',
 'Fishing, boat capsized',
 'Washed overboard from the barque Mary Eady',
 'B-24 aircraft crashed  into the sea',
 'Diving for pearl',
 'Fishing from shore, washed into the sea',
 'Kite Surfing',
 'Hookah Diving',
 'The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered',
 'Spearfishing Competition',
 'Jumped overboard ',
 'Jumped off rocks into white water',
 'Dry shelling',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Free diving for abalone (ascending)',
 'Paddle Skiing',
 'Rowing toward snapper grounds',
 '2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didnï¿½t notice they were missing',
 'Longline fishing',
 'Swimming (lead swimmer in race)',
 'Paddling a canoe',
 'Spearfishing, carrying his catch',
 'Bitten while cutting shark from net',
 'Swimming / treading water',
 'Free diving or wading back to shore',
 'Lying on surfboard',
 'Freediving for seashells',
 'Free diving for lobster',
 "Fell from his father's back into the water",
 'Bathing alongside US Naval ship',
 'Paddling',
 'Boat of a Hawaiian brig was stove in by  whale',
 'Commercial fishing vessel, Ev-nn, struck object & sank. Ken Crosby and  Jame & Ann Dumas adrift on makeshift raft.',
 '4 men were bathing',
 'Washing sand off a speared fish',
 'In rubber dinghy with Captain Eddie Rickenbacker for 21 days. ',
 'Swimming after harpooned whale capsized boat',
 'Attempting to drive shark away from the beach',
 'During "an exhibition" he was tied in sack & thrown overboard ',
 'Fleeing across a river',
 'Surf fishing',
 'Attempting to rescue shipmate',
 'Clinging to shipwrecked junk',
 'Kite boarding',
 'Trailing the field in a surf race',
 'Swimming',
 'Surfing, collided with shark',
 'Sinking of the ferryboat Dumaguete ',
 'Walking',
 'Fishing for snappers & cleaning mullet. Put mullet over side of boat to wash it',
 'Free diving (but on surface)',
 'Closed circuit diving (submerged). Diving to recover jettisoned packets of opium for police',
 'Removing shark from a net',
 'Ship lay at anchor & man was working on its rudder',
 'Wreck of the Sovereign',
 'The schooner Tahitienne foundered in a hurricane',
 'Sight-seeing',
 'Swimming after being washed overboard',
 'Surf-skiing',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Fishing with a cast net',
 'Wreck of the Aphrodite',
 'Scurfing (surfboard being  towed behind a boat)',
 'Commercial diver (submerged or treading water)',
 'Fishing for snapper',
 'Sea Disaster, sinking of the motorship Wingate',
 'Rowing ',
 'Sinking of the cargo ship Mark Jason',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Filming & feeding captive sharks',
 "Fell off surfboard 20' from shore",
 'Fishing for bottom fish',
 'Fell oveboard from steamer Wanderer',
 'Fishing, slipped on rocks & fell into sea',
 'Filming a documentary',
 'National Airlines DC7B enroute from Miami to Los Angeles with 42 or 46 people on board went down in heavy fog',
 'Schooner sank during a storm',
 'Swimming back from anchored sailboat',
 'Helmet diving, collecting trochus shell',
 'Feeling the sharkï¿½s teeth',
 'Line fishing from Lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air',
 'Kakaying',
 'His balloon crashed in the harbor',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Canoe swamped, swimming back to canoe',
 'Accidentally thrown overboard & treading water while awaiting rescue',
 'Paddleskiing',
 'Sittting in water with his child',
 'Scuba diving for lobsters',
 'Washing',
 'Free diving for sinkers',
 "Ship's boat capsized in squall, captain & 2 sailors clinging onto hull",
 'Floating on a raft',
 'Diving in tuna net',
 'Fishing, on charter boat Silver Dollar',
 'Swimming (using a float)',
 'HBM Magpie foundered in a squall',
 'Jumped into the water from a cliff',
 'Swimming, towing a kayak',
 'In deep water about 100 yards from his ship',
 'Fishing, holding fish',
 'Wading, netting fish',
 'Windsurfing',
 'Finning the shark',
 'Swimming underneath house on pilings',
 'Dived into sea from launch & bitten immediately',
 'On boat, preparing to dive',
 'Unknown, but it was said to be the "First known attack in Sydney Harbour"',
 'Retrieving meat from a cage in the water',
 'British ship, Britannia,  was loading lumber. He was bathing',
 'Spearfishing, had fish on his spear',
 'Hookah diving (submerged)',
 'Surfing / treading water',
 'The British steamer Caribbee foundered',
 'Surfing, paddling shorewards',
 'Collecting fish in military trap when bitten by captured shark that had been shot by soldiers with Garten',
 'Swimming (recovering remains of Stilwell) ',
 'Fishing, thrown into water by heavy sea, clinging to rocks at the water line',
 'Batin',
 'Lobstering',
 'Surfing, pushing board ashore',
 'Swimming after falling overboard from the sealing ship Vesper',
 'Kite surfing',
 'Greek steamship Lakonia caught fire, 98 of her 646 passengers, and 30 of her crew of 376 perished',
 'Free diving / Spearfishing',
 'Swimming after his hat',
 'Attempting to swim across the Atlantic Ocean',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'Ship Mariston torpedoed & sunk',
 'When  a deckhand  jumped overboard, McIver dived after him with a rescue line.',
 "Lying on the bottom of a 16' dinghy",
 'Dangling feet in the water',
 'Swimming, ducking for shells in water 0.9 m deep',
 'Floating on an inflatable raft',
 'Known as The Battle of the Bismarck Sea :  8 Japanese destroyers guarding a convoy of 8 transports were attacked by 129 Allied fighters, 207 bombers & 3 squadrons of the Royal Australian Air Force. ',
 'Dog paddling or standing',
 "Scientific research (Dr. Sonny Gruber's student)",
 'The coastwise steamer San Basilio capsized in a typhoon',
 "Swimming at surface through school of feeding 2.5' to 5ï¿½ sharks",
 'Standing / Surfing',
 'Light aircraft ditched at sea',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Floating on a small orange raft ',
 'Crew swimming alongside their anchored ship',
 'Swimming, towing the shark',
 'Wading, fishing for flounder',
 'Bathing in river',
 "Fishing, caught a 15' shark & took it onboard",
 'Swimming / escaping imprisonment ',
 'Jumping',
 'Fishing with dynamite, afterwards in water retrieving catch',
 'Bending over',
 'Swimming to anchored boat',
 'Spearfishing, pulled sharkï¿½s tail',
 'Attempting to free the shark',
 'Fishing for sharks',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Wreck of  large double sailing canoe',
 'Checking fish traps, fell into the water',
 'Fishing for blue sharks',
 'Colombian  (Avianca) DC-4 airliner plunged into the sea 5 minutes after takeoff',
 'Diving around anchored liner',
 'Lifesaving drill',
 'Fishing inside net',
 'Body surfing or body boarding',
 'Diving on a wreck',
 'Swimming, after single-engine aircraft went down in the sea',
 'Body surfing?',
 'Floating face down',
 'ship M.V. Rizal sank during typhoon',
 'Accidentally dragged overboard from the sampan Holokahana into school of yellowfin tuna',
 'Touching sharks',
 'Swimming with motor tube',
 'Rolled off raft',
 'Sitting on gunwale of boat',
 'Swimming in fish tank',
 'Floating on inner tube raft',
 'Swimming from foundered vessel',
 'Boat capsized?',
 'She was on a ship that was torpedoes & was in the water awaiting rescue',
 'Attacked shark with fists',
 'Holding shark on leader & dangling it above the water',
 'Catching sardines',
 'Freedom Swimming',
 'Swimming / Body surfing',
 'Rowing a dinghy',
 'Boat',
 'Diving for pearls',
 'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas',
 'Landing hooked shark in boat',
 'Gaffing netted shark',
 'Wading / Surfing',
 'Went overboard',
 'Standing in knee-deep water',
 'Ocean racing',
 'Sea Disaster, wreck of the  SS Norwich City',
 'Fishing, hooked shark towed boat out to sea, storm swamped boat',
 'Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
 'American minesweeper USS YMS-472 foundered in a typhoon - swimming to shore',
 'Board sailing',
 'Hunting turtle',
 'Diving from dinghy for trochus shell',
 'Pleasure boating',
 'Bodysurfing',
 'Surf skiing',
 'Fell overboard while fishing for sharks',
 'British cruiser Dunedin torpedoed & sunk by the U-124',
 'Treading water while alongside capsized yacht',
 'Spearfishing (Free diving)',
 'Swimming to shore from boat or kayak',
 'Swept off deck of S.S.Frontenac enroute from West Indies to US',
 'Diving for trochus , but swimming on surface',
 'Body surfing & treading water',
 'Catching a turtle',
 '"Riding waves on a board"',
 'Fishing  (trawling)',
 'Body boarding ',
 'Filming underwater, carrying powerhead',
 'Commercial Salvage Diving',
 'Unknown',
 'Washing a dog',
 'Dress diving, filming shark & pulling it through the water for a motion picture scene',
 'Diving for pen shells',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'Fishing, Struck by another shark when removing shark from line',
 'Fishing, attempted to take a netted shark',
 'Swimming or boogie boarding',
 'Chasing shark out of bathing area while riding on a surf-ski',
 'Swimming near jetty',
 'Fell oveboard',
 'Fishing / diving',
 'Fishing / washing bait off hands',
 'SUP Foil boarding',
 'Free diving',
 'Swimming on sandbar adjacent to channel',
 'Surfng',
 'Swimming outside the safety enclosure attempting to retrieve a tennis ball drifting toward midstream ',
 'Fishing for prawns',
 'Fishing from shore',
 'U-177 torpedoed & sank the troopship Nova Scotia',
 'Fishing ',
 'Wreck of the schooner Pohoiki ',
 'Air Disaster',
 'Wading to dinghy, carrying his son',
 'Free diving & spearfishing (ascending)',
 'Swimming, naked',
 'Spearfishing with Scuba gear',
 'Dutch merchant ship Zaandam torpedoed  by the U-174 amidships, sank & dozens of survivors took to rafts & boats. One man, Izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down',
 'Vehicle plunged over cliff into the water',
 'Aircraft crashed into sea',
 'Fishing for basking sharks',
 'Skin diving ',
 "Fishing from 32' boat",
 'Fell from yardarm of British ship Rover',
 'Among 31 survivors of crew from the sampan Fukulya Maru (which reached Thursday Island in rowing boat) was a man whose arm had been bitten off by shark. The sampan wrecked west of McArthur island ',
 'boat with 46 people on board capsized',
 'Standing on his hands',
 'Floating on his back',
 'Swimming near anchored ship',
 'Hooking into a whale',
 'Spearfishing & diving for paua',
 'Diving for trochus shell',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Scuba diving',
 'A group of survivors on a raft for 17-days',
 'Wading with surfboard',
 'Scuba diving & spearfishing',
 "Overcome by CO fumes, fell overboard from 36' fishing cruiser & prop slashed arm",
 'Reported swept away by waves while gathering opihi',
 'Swimming outside fishing net',
 'Floating on air mattress',
 'Jumped into river',
 ' ',
 'Playing soccer in the water',
 'Fishing for albacore',
 'Hookah diving for pen shells ',
 'The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125. ',
 'Fishing, hauling in fishing gear',
 "a corsair's boat was overturned",
 'Swimming in the channel',
 'Spear fishing',
 'Diving (Hookah)',
 'Swimming ashore from fishing boat swamped and sunk by a squall',
 'Hurricane & Tidal Wave',
 'Boat swamped',
 'Swimming / Body Surfing',
 'Attempting to rescue crew after whale upset their boat',
 'Escaping from blackbirding vessel',

In [26]:
def replace_activities(activity):
    activities = {
        'Sailing': ['boat', 'boating', 'racing', 'barqued', 'sinking', 'ship', 'wreck', 'dhow', 'kayak', 'canoa', 'raft', 'cutter', 'bark', 'submarine'],
        'Fishing': ['fishing', 'fish', 'spearfishing', 'netting', 'wade-fishing', 'hunting', 'fishingat', 'shrimping', 'gigging', 'picking'],
        'Air accident': ['aircraft', 'airliner', 'constellation', 'parachute'],
        'Swimming': ['swimming', 'riding'],
        'Diving': ['diving', 'diver', 'photographing', 'dive', 'skidiving'],
        'Surfing': ['surfing', 'surf', 'boogie', 'surf-skiing', 'paddeling', 'boarding', 'board', 'overboard', 'treading'],
        'Dangerous': ['explosives', 'anesthesize', 'investigating', 'pulling', 'filming', 'defecating', 'chumming', 'wrangling', 'murder', 'searching'],
        'Bathing': ['playing', 'bath', 'bathing', 'crouching', 'floating', 'standing', 'sitting', 'dangling'],
        'Natural disaster': ['hurricane', 'natural']
    }

    for key, word_list in activities.items():
        if any(keyword in str(activity).lower() for keyword in word_list):
            return key
    return 'Unknown'

attacks_subset['clean_activity'] = attacks_subset['activity'].apply(replace_activities)
attacks_subset['clean_activity'].value_counts()

clean_activity
Surfing             1465
Unknown             1237
Fishing             1174
Swimming            1067
Diving               528
Sailing              417
Bathing              379
Dangerous             26
Air accident           5
Natural disaster       4
Name: count, dtype: int64

In [27]:
attacks_subset

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,clean_time,clean_age,clean_year,clean_sex,clean_activity
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",Evening,57,2018,F,Unknown
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",Afternoon,11,2018,F,Bathing
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",Morning,48,2018,M,Surfing
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",Unknown,Unknown,2018,M,Surfing
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,Unknown,Unknown,2018,M,Diving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",Unknown,Unknown,Unknown,M,Diving
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",Unknown,Unknown,Unknown,M,Diving
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",Unknown,Unknown,Unknown,M,Swimming
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",Unknown,Unknown,Unknown,M,Unknown
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,Unknown,15,Unknown,M,Swimming

**Let's export the clean dataframe to csv**

In [28]:
attacks_subset.to_csv('../data/clean_attacks.csv', index=False)