In [1]:
import pandas as pd
import re

**LOADING DATA FROM CSV**

In [2]:
pd.set_option('display.max_columns', None)
shark_attacks = pd.read_csv("../data/attacks.csv", encoding="latin1")
shark_attacks.columns = [i.lower().replace(' ', '_') for i in shark_attacks.columns]
shark_attacks

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**CLEANING**

First we we need to drop all the rows with null values.

In [3]:
attacks_subset = shark_attacks.dropna(how='all')
attacks_subset.isna().sum()

case_number                  1
date                      2401
year                      2403
type                      2405
country                   2451
area                      2856
location                  2941
activity                  2945
name                      2611
sex_                      2966
age                       5232
injury                    2429
fatal_(y/n)               2940
time                      5755
species_                  5239
investigator_or_source    2418
pdf                       2401
href_formula              2402
href                      2401
case_number.1             2401
case_number.2             2401
original_order            2394
unnamed:_22               8702
unnamed:_23               8701
dtype: int64

Now we need to have a look to those rows were the 'case_number' is not null but the rest of the values are null.

In [4]:
rows_with_nan = attacks_subset[attacks_subset.drop('case_number', axis=1).isna().all(axis=1)]
print(rows_with_nan.shape)
rows_with_nan.isna().sum()

(2394, 24)

case_number                  0
date                      2394
year                      2394
type                      2394
country                   2394
area                      2394
location                  2394
activity                  2394
name                      2394
sex_                      2394
age                       2394
injury                    2394
fatal_(y/n)               2394
time                      2394
species_                  2394
investigator_or_source    2394
pdf                       2394
href_formula              2394
href                      2394
case_number.1             2394
case_number.2             2394
original_order            2394
unnamed:_22               2394
unnamed:_23               2394
dtype: int64

As we can see, all the columns unless 'case_number' have the same null values as the lenght of the rows filtered, then we can remove this rows because they do not have any information.

In [5]:
# The '~' operator is used to negate the boolean condition, so it keeps the rows where the condition is False.
attacks_subset_ = attacks_subset[~attacks_subset.drop('case_number', axis=1).isna().all(axis=1)]
print(attacks_subset_.shape)
attacks_subset_[attacks_subset_['case_number'] == '0']

(6309, 24)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN

We still have some rows with almost all the data with null values so as I don't need the column 'original_order', I can remove this rows.

In [6]:
attacks_subset = attacks_subset[~attacks_subset.drop(['case_number', 'original_order'], axis=1).isna().all(axis=1)]
print(attacks_subset.shape)

(6302, 24)

Now I want to remove those columns that are not giving me any type of information.

In [7]:
attacks_subset = attacks_subset.drop(columns=['pdf', 'href_formula', 'href', 'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22', 'unnamed:_23'])
attacks_subset

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

In order to find the duplicated rows we do it by 'original_order'.

In [8]:
duplicated = attacks_subset[attacks_subset['case_number'].duplicated(keep=False)]
duplicated

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source
522,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"South of Cocoa Beach, Brevard County",Surfing,male,M,50s,Foot bitten,N,NaN,NaN,"Florida Today, 8/8/2014"
523,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"Table Beach, Brevard County",Boogie boarding,Christian Sanhueza,M,8,Laceration to ankle,N,13h00,NaN,"Florida Today, 8/2/2014"
615,2013.10.05,06-Oct-2013,2013.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Jay Scrivner,M,45,Laceration to thigh,N,08h45,"White shark, 8' to 10'","R. Collier, GSAF"
616,2013.10.05,10-Oct-2013,2013.0,Unprovoked,USA,Florida,"Destin, Okaloosa County",Wading,Zachary Tyke Standridge,M,12,Lacerations to right forearm,N,15h30,Small bull shark,"Monroe County Advocate, 10/9/2013"
746,2012.09.02.b,02-Sep-2012,2012.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,female,F,8,Puncture wounds to calf and hand,N,18h30,3.5' to 4' shark,"WYTV, 9/3/2012"
747,2012.09.02.b,02-Sep-2012,2012.0,Provoked,USA,Hawaii,"Spreckelsville, Maui",Spearfishing,M. Malabon,NaN,NaN,Minor laceration to hand PROVOKED INCIDENT,N,12h00,"Tiger shark, 10' to 12'",HawaiiNow.com
1063,2009.12.18,18-Dec-2009,2009.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Paddling on kneeboard,Tshintshekile Nduva,M,22,FATAL,Y,14h30,NaN,"B. Jordan & A. Ferreira, Times Live, 12/21/2009"
1064,2009.12.18,18-Dec-2009,2009.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,"North Beach, Durban",Surfing,Lance Morris,M,NaN,Minor lacerations to left leg. nitially report...,NaN,NaN,No shark involvement,"M. Addison, C. Eckstander, GSAF"
1436,2006.09.02,02-Sep-2006,2006.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Swimming,male,M,12 or 13,Arm bitten,N,17h55,NaN,"S. Petersohn, GSAF"
1437,2006.09.02,02-Sep-2006,2006.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Noordhoek,Surfing,Steven Harcourt-Wood,M,37,"No injury, shark rammed surfboard",N,NaN,"White shark, 3.5m","Cape Times, 9/3/2006"
1599,2005.04.06,06-Apr-2005,2005.0,Unprovoked,USA,Florida,"Jacksonville Beach, Duval County",NaN,Jessica Abe,F,NaN,Left calf injured,N,NaN,small hammerhead shark,WJXT News4Jax.com
1600,2005.04.06,06-Apr-2005,2005.0,Invalid,HONDURAS,Bay Islands,Utila,SCUBA Diving,female,F,NaN,"Laceration on siide of calf, small laceration ...",NaN,NaN,Shark involvement not confirmed,"J. Engel, SRI & S. Fox, Deep Blue"
2634,1990.05.10,10-May-1990,1990.0,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,Snorkeling,Sydney woman,F,30s,Lacerations,N,NaN,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1"
2635,1990.05.10,10-May-1990,1990.0,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,"Snorkeling, possibly holding a fish",German male,M,30s,Lacerations,N,NaN,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1"
2937,1983.06.15,15-Jun-1983,1983.0,Unprovoked,BAHAMAS,NaN,Carter Cay,NaN,Roger Yost,M,30,Lacerations to hand & foot,N,11h00,6' blacktip shark,"E. Pace, FSAF"
2938,1983.06.15,15-Jun-1983,1983.0,Invalid,ITALY,Northwest Italy,Riomaggiore (Ligura),Scuba diving,Roberto Piaviali,M,NaN,"No injury, 3 m shark ""harassed"" him at depth o...",NaN,NaN,Questionable incident,MEDSAF
3062,1980.07.00,Late Jul-1980,1980.0,Unprovoked,USA,North Carolina,"Emerald Isle Pier (near Morehead City), Carter...",Surfing,male,M,NaN,"No injury, bumped off board",N,NaN,NaN,"C. Creswell, GSAF, J. Barnes"
3063,1980.07.00,Early Jul-1980,1980.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Tom Durrance,M,NaN,Lower leg bitten,N,NaN,NaN,"Daytona Beach Morning Journal, 7/9/1980"
3543,1966.12.26,26-Dec-1966,1966.0,Unprovoked,SINGAPORE,NaN,Singapore,Wading,Hussain Ali,M,39,Thigh bitten,N,Afternoon,NaN,"H.D. Baldridge, SAF Case #1458"
3544,1966.12.26,26-Dec-1966,1966.0,Unprovoked,AUSTRALIA,New South Wales,Coogee,Spearfishing,David Jensen,M,29,Right leg bitten,N,NaN,1.8 m [6'] shark,"Sun (Sydney), 12/29/1966; H.D. Baldridge, p.137"
3814,1962.06.11.b,11-Jun-1962,1962.0,Unprovoked,USA,California,San Francisco Bay,Escaping from Alacatraz,Clarence Anglin,M,31,2 toes bitten off,N,night,NaN,"San Francisco Chronicle, 5/3/1986"
3815,1962.06.11.b,11-Jun-1962,1962.0,Unprovoked,USA,California,San Francisco Bay,Escaping from Alacatraz,John William Anglin,M,32,"FATAL, but shark involvement uncomfirmed. Deat...",Y,Night,NaN,"San Francisco Chronicle, 5/3/1986"
5213,1923.00.00.a,1923,1923.0,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,NaN,Shark's tail broke his leg. PROVOKED INCIDENT,N,NaN,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M..."
5214,1923.00.00.a,1923,1922.0,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,NaN,Shark's tail broke his leg. PROVOKED INCIDENT,N,NaN,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M..."
5260,1920.00.00.b,1920s,1920.0,Unprovoked,JAMAICA,Westmoreland Parish,Savanna-la-Mar,Jumped overboard,sailor,M,NaN,FATAL,Y,NaN,NaN,"Daily Gleaner, 4/14/1969"
5261,1920.00.00.b,1920,1920.0,Unprovoked,NEW ZEALAND,North Island,"Stanley Bay, Auckland Harbor",NaN,female,F,NaN,"""Recovered""",N,NaN,NaN,"V.M. Coppleson (1958), p.262"
5322,1915.07.06.a.R,Reported 06-Jul-1915,1915.0,Unprovoked,MEXICO,Tamaulipas,Tampico,Fishing,Captain Thaxton,M,NaN,FATAL,Y,NaN,NaN,"Oakland Tribune, 7/6/1915"
5323,1915.07.06.a.R,Reported 06-Jul-1915,1915.0,Unprovoked,MEXICO,NaN,Santa Maria Bar,Wading,J.W. McDonald,M,NaN,FATAL,Y,NaN,NaN,"Oakland Tribune, 7/6/1915"
5354,1913.08.27.R,Reported 27-Aug-1913,1913.0,Invalid,USA,New Jersey,"Lavalette, Ocean County",NaN,NaN,M,NaN,Man's leg recovered from 800-lb shark,NaN,NaN,Shark involvement prior to death unconfirmed,"Trenton Evening Times, 8/27/1913"
5355,1913.08.27.R,Reported 27-Aug-1913,1913.0,Invalid,USA,New Jersey,"Spring Lake, Monmouth County",NaN,NaN,F,NaN,Female foot recovered from shark,NaN,NaN,Shark involvement prior to death unconfirmed,"Washington Post, 8/27/1913"
5443,1907.10.16.R,Reported 16-Oct-1907,1907.0,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,NaN,"3 of thel 5 were injured, one of whom lost bot...",N,NaN,Shark involvement probable,"Dawson Daily News, 11/20/1907"
5444,1907.10.16.R,Reported 16-Oct-1907,1907.0,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,NaN,2 of the 5 fishermen were so seriously injure...,Y,NaN,Shark involvement probable,"Dawson Daily News, 11/20/1907"

We check that there are no rows duplicated with the same information.

So now we can start cleaning the columns in order to standarize the data.

    1. Let's start with 'type' column of shark attack

In [9]:
attacks_subset['type'].value_counts()

type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

In [10]:
pattern = r'\w*[Bb]oat\w*'
attacks_subset['type'] = attacks_subset['type'].str.replace(pattern, 'Boat', regex=True)
attacks_subset['type'].value_counts()

type
Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
Questionable       2
Name: count, dtype: int64

    2. For 'time' column I want to classify hours by ranges of time.

In [11]:
attacks_subset['time'].unique()

array(['18h00', '14h00  -15h00', '07h45', nan, 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40',
       '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00, Dusk', 'Night', '16h00',
       '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30',
       '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19',
       'Midday', '13h30', '10h45', '11h20', '11h45', '19h30', '08h30',
       '15h45', 'Shortly before 12h00', '17h34', '17h10', '11h15',
       '08h50', '17h45', '13h00', '10h20', '13h20', '02h00', '09h50',
       '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', 'ï¿½ ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [12]:
hour_pattern = r'\d{1,2}(?::|h|j)\d{2}'
second_patter = r'\d{1,2}\w\d{2}|>\d{1,2}:\d{2}|(0?\d|1[0-2]):\d{2}j|Before (0?\d|1[0-2]):\d{2}|Between (0?\d|1[0-2]):\d{2} and (0?\d|1[0-2]):\d{2}|\d{1,2}:\d{2}|\d{1,2}:\d{2}'

def formatt_hour(string):
    if 'h' in string:
        string = string.split('h')
        if len(string[0]) == 1:
            string[0] += '0'
        return ":".join(string)
    elif 'j' in string:
        return string.replace('j', ':')
    elif string.isdigit():
        string = string[:len(string)//2] + ':' + string[len(string)//2:]
    else:
        return string

In [13]:
def class_by_string(string):
    if 'morning' in str(string).lower():
        return 'Morning'
    elif 'afternoon' in str(string).lower() or 'midday' in str(string).lower() or 'noon' in str(string).lower():
        return "Afternoon"
    elif 'evening' in str(string).lower():
        return "Evening"
    elif 'night' in str(string).lower() or 'dusk' in str(string).lower():
        return "Night"
    elif re.search(second_patter, str(string)):
        str_ = re.search(second_patter, str(string))
        return formatt_hour(str_.group())
    else:
        return "Unknown"

attacks_subset['clean_time'] = attacks_subset['time'].apply(class_by_string)
attacks_subset

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,clean_time
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",18:00
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",14:00
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",07:45
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",Unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",Unknown
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",Unknown
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",Unknown
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",Unknown
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,Unknown

In [14]:
#regex_condition = attacks_subset['day_time'].str.contains(hour_pattern)
# Aplica la función 'formatt_hour' solo a los valores que cumplen el patrón regex
#non_null_condition = (regex_condition) & (~attacks_subset['day_time'].isnull())
#attacks_subset.loc[non_null_condition, 'day_time'] = attacks_subset.loc[non_null_condition, 'day_time'].apply(formatt_hour)
#attacks_subset['day_time'].unique()

In [15]:
def class_by_time(string):
    """
    This function receives a string in the format '12:00' and determines whether this time is 'Morning', 'Afternoon', 'Evening' or 'Night'.
    """
    morning_pattern = r'0[6-9]:[0-5][0-9]|1[0-1]:[0-5][0-9]'
    afternoon_pattern = r'1[2-7]:[0-5][0-9]'
    evening_pattern = r'1[8-9]:[0-5][0-9]|20:[0-5][0-9]|21:[0-5][0-9]'
    night_pattern = r'22:[0-5][0-9]|23:[0-5][0-9]|0[0-5]:[0-5][0-9]'

    if re.search(morning_pattern, str(string)):
        return 'Morning'
    elif re.search(afternoon_pattern, str(string)):
        return "Afternoon"
    elif re.search(evening_pattern, str(string)):
        return "Evening"
    elif re.search(night_pattern, str(string)):
        return "Night"
    else:
        return 'Unknown'
    
pattern = r'\d{1,2}:\d{1,2}'
attacks_subset['clean_time'] = attacks_subset['clean_time'].apply(lambda x: class_by_time(x) if pd.notna(x) and pd.Series(x).str.contains(pattern).any() else x)

attacks_subset['clean_time'].value_counts()

clean_time
Unknown      3414
Afternoon    1566
Morning       914
Evening       254
Night         146
Name: count, dtype: int64

- The cleaning of time column is useless because more than half of the data is 'Unknown'.

    3. Now let's clean 'age' column.

In [16]:
attacks_subset['age'].value_counts()

age
17                154
18                150
19                142
20                141
15                139
                 ...
20?                 1
 28                 1
7      &    31      1
 30                 1
13 or 14            1
Name: count, Length: 157, dtype: int64

In [17]:
def extract_age(x):
    if pd.isna(x):
        return 'unknown'
    if x in ['teen', 'Teen', 'Teens']:
        return '15'
    if x in ['adult', '(adult)', 'middle-aged']:
        return '50'
    if x == '18 months':
        return '2'
    age_av = re.findall(r'(\d{1,2})\s*(&|or|to)\s*(\d{1,2})', str(x))
    if age_av:
        average_ages = [(int(match[0]) + int(match[2])) / 2 for match in age_av]
        return str(average_ages[0])
    age_match = re.search(r'\d{1,2}', str(x))
    if age_match:
        return age_match.group()
    return 'unknown'

    4. Column 'year'

In [18]:
attacks_subset['year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [19]:
pattern_year = r'\d{4}'
str_pattern = r'\d{4}\.'
def clean_year(year):
    if re.match(str_pattern, str(year)):
        return re.match(pattern_year, str(year)).group()
    else:
        return 'Unknown'

attacks_subset['clean_year'] = attacks_subset['year'].apply(clean_year)
attacks_subset['clean_year'].unique()
attacks_subset.sample(10)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,clean_time,clean_year
2546,1992.07.08.a,08-Jul-1992,1992.0,Unprovoked,BRAZIL,Maranhï¿½o,"Praia da Marcela, Sï¿½o Marcos Bay",Surfing,M.C.,M,NaN,"Lower leg bitten, surgically amputated",N,Morning,NaN,M. Szpilman,Morning,1992
563,2014.04.22,22-Apr-2014,2014.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Swimming,male,M,42,Laceration & puncture wounds to right foot,N,15h30,NaN,"R. Neale, Florida Today, 4/22/2014",Afternoon,2014
46,2018.02.01,01-Feb-2018,2018.0,Invalid,AUSTRALIA,Western Australia,"Avalon Point, Manurah",Spearfishing,Lucas Martin,M,14,"No injury no attack. This is considerd an ""enc...",N,NaN,2m shark,"The West Australian, 2/2/2018",Unknown,2018
5768,1885.07.26.b,26-Jul-1885,1885.0,Sea Disaster,USA,Hawaii,Kau District,Wreck of the schooner Pohoiki,sailor,M,NaN,Laceration to torso,N,NaN,NaN,"Hawaiian Gazette, 8124/1885",Unknown,1885
1400,2007.03.05.R,Reported 05-Mar-2007,2007.0,Provoked,NEW ZEALAND,Cook islans,Penhryn Island,Spearfishing,Turua William Maretapu,M,16,Leg bitten by shark after he shot at it & mis...,N,NaN,Tiger shark,"R. Weeks, GSAF",Unknown,2007
6229,ND.0084,"No date, Before 3-Jan-1967",0.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Keiskamma River mouth,Crossing river on a raft,Sinsa,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"Whitaker, The Sun, 1/3/1967",Unknown,Unknown
2573,1991.12.04,04-Dec-1991,1991.0,Unprovoked,USA,California,"Shelter Cover, north of Fort Bragg, Shelter Co...",Hookah diving for sea urchins,David Abernathy,M,25,"No injury, shark became tangled in hose & towe...",N,15h06,6 m [20'] white shark,"R. Collier, pp.129-130; Mark Marks; S. Waterma...",Afternoon,1991
4860,1937.00.00,1937,1937.0,Unprovoked,AUSTRALIA,Torres Strait,NaN,NaN,"O'Leary, a Torres Strait islander",M,NaN,Survived,N,NaN,NaN,"Rpt. Dept. Harb. Mar. (Qld), 1937, p.13; G.P. ...",Unknown,1937
5438,1908.05.13,13-May-1908,1908.0,Sea Disaster,INDONESIA,Java,Jakarta Harbor,native boats sunk in storm,NaN,F,NaN,FATAL,Y,NaN,NaN,"The Advertiser, 6/26/1908",Unknown,1908
6036,1848.08.31,31-Aug-1848,1848.0,Unprovoked,USA,Maryland,Patapsco River,Swimming,William Haywood,M,15,Left leg severely bitten,N,NaN,NaN,"Adams Sentinel, 9/4/1848",Unknown,1848